---
version: '3.9'
services:
  weaviate:
    init: true
    command:
    - --host
    - 0.0.0.0
    - --port
    - '8080'
    - --scheme
    - http
    image: semitechnologies/weaviate:$WEAVIATE_VERSION
    ports:
    - 8080:8080
    - 6060:6060
    - 50051:50051
    volumes:
    - "$PWD/weaviate-data:/var/lib/weaviate"
    environment:
      - PERSISTENCE_DATA_PATH
      - PERSISTENCE_MEMTABLES_FLUSH_IDLE_AFTER_SECONDS
      - QUERY_DEFAULTS_LIMIT
      - AUTHENTICATION_ANONYMOUS_ACCESS_ENABLED
      - DEFAULT_VECTORIZER_MODULE
      - CLUSTER_HOSTNAME
      - DISK_USE_READONLY_PERCENTAGE
...
