workdir/
weaviate-data/
datasets/
results/*
logs/
apps/**/vendor/**
.DS_Store

apps/weaviate/data*/
apps/weaviate/backups*/


# IDE files
**/.idea/
**/.vscode/
**/.venv/
**/__pycache__*/

apps/weaviate/backups*/
apps/upgrade-journey-object-nested-properties/.docker_data
apps/downgrade-journey-raft-schema-force-from-snapshot/data/
apps/upgrade-journey/data/
