name: Chaos tests

on:
  workflow_call:
    inputs:
      weaviate_version:
        required: true
        type: string
      lsm_access_strategy:
        required: true
        type: string
      async_indexing:
        required: true
        type: string
    secrets:
      AWS_ACCESS_KEY:
        required: true
      AWS_SECRET_ACCESS_KEY:
        required: true
      DOCKER_USERNAME:
        required: true
      DOCKER_PASSWORD:
        required: true
      GCP_SERVICE_ACCOUNT_BENCHMARKS:
        required: true
      POLARSIGNALS_TOKEN:
        required: true

env:
  WEAVIATE_VERSION: ${{ inputs.weaviate_version }}
  DISABLE_RECOVERY_ON_PANIC: true
  ASYNC_INDEXING: ${{ inputs.async_indexing }}

jobs:
  real-version-in-tag:
    name: "Retrieve the real version from the image tag"
    runs-on: ubicloud-standard-2
    env:
      WEAVIATE_VERSION: ${{ inputs.weaviate_version }}
    outputs:
      real_version: ${{ steps.weaviate-version-from-image.outputs.weaviate_version }}
    steps:
      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{secrets.DOCKER_USERNAME}}
          password: ${{secrets.DOCKER_PASSWORD}}
      - name: Retrieve the weaviate version from the image
        uses: weaviate/github-common-actions/.github/actions/weaviate-version-in-image@main
        id: weaviate-version-from-image
        with:
          image_tag: ${{ env.WEAVIATE_VERSION }}
  equal-to-1_24:
    name: "Check if the version is equal to 1.24"
    needs: real-version-in-tag
    runs-on: ubicloud-standard-2
    outputs:
      check: ${{ steps.semver_compare.outputs.result }}
    steps:
      - name: Semver Compare
        id: semver_compare
        uses: fabriziocacicia/semver-compare-action@v0.2.0
        with:
          first: ${{ needs.real-version-in-tag.outputs.real_version }}
          second: "1.24.0"
          operator: "="
  newer-or-equal-than-1_24:
    name: "Check if the version is newer than 1.24"
    needs: real-version-in-tag
    runs-on: ubicloud-standard-2
    outputs:
      check: ${{ steps.semver_compare.outputs.result }}
    steps:
      - name: Semver Compare
        id: semver_compare
        uses: fabriziocacicia/semver-compare-action@v0.2.0
        with:
          first: ${{ needs.real-version-in-tag.outputs.real_version }}
          second: "1.24.0"
          operator: ">="
  newer-or-equal-than-1_25:
    name: "Check if the version is newer than 1.25"
    needs: real-version-in-tag
    runs-on: ubicloud-standard-2
    outputs:
      check: ${{ steps.semver_compare.outputs.result }}
    steps:
      - name: Semver Compare
        id: semver_compare
        uses: fabriziocacicia/semver-compare-action@v0.2.0
        with:
          first: ${{ needs.real-version-in-tag.outputs.real_version }}
          second: "1.25.0"
          operator: ">="
  newer-or-equal-than-1_26:
    name: "Check if the version is newer than 1.26"
    needs: real-version-in-tag
    runs-on: ubicloud-standard-2
    outputs:
      check: ${{ steps.semver_compare.outputs.result }}
    steps:
      - name: Semver Compare
        id: semver_compare
        uses: fabriziocacicia/semver-compare-action@v0.2.0
        with:
          first: ${{ needs.real-version-in-tag.outputs.real_version }}
          second: "1.26.0"
          operator: ">="
  newer-or-equal-than-1_28:
    name: "Check if the version is newer than 1.28"
    needs: real-version-in-tag
    runs-on: ubicloud-standard-2
    outputs:
      check: ${{ steps.semver_compare.outputs.result }}
    steps:
      - name: Semver Compare
        id: semver_compare
        uses: fabriziocacicia/semver-compare-action@v0.2.0
        with:
          first: ${{ needs.real-version-in-tag.outputs.real_version }}
          second: "1.28.0"
          operator: ">="
  newer-or-equal-than-1_29:
    name: "Check if the version is newer than 1.29"
    needs: real-version-in-tag
    runs-on: ubicloud-standard-2
    outputs:
      check: ${{ steps.semver_compare.outputs.result }}
    steps:
      - name: Semver Compare
        id: semver_compare
        uses: fabriziocacicia/semver-compare-action@v0.2.0
        with:
          first: ${{ needs.real-version-in-tag.outputs.real_version }}
          second: "1.29.0"
          operator: ">="
  newer-or-equal-than-1_30:
    name: "Check if the version is newer than 1.30"
    needs: real-version-in-tag
    runs-on: ubicloud-standard-2
    outputs:
      check: ${{ steps.semver_compare.outputs.result }}
    steps:
      - name: Semver Compare
        id: semver_compare
        uses: fabriziocacicia/semver-compare-action@v0.2.0
        with:
          first: ${{ needs.real-version-in-tag.outputs.real_version }}
          second: "1.30.0"
          operator: ">="
  older-than-1_30:
    name: "Check if the version is older than 1.30"
    needs: real-version-in-tag
    runs-on: ubicloud-standard-2
    outputs:
      check: ${{ steps.semver_compare.outputs.result }}
    steps:
      - name: Semver Compare
        id: semver_compare
        uses: fabriziocacicia/semver-compare-action@v0.2.0
        with:
          first: ${{ needs.real-version-in-tag.outputs.real_version }}
          second: "1.30.0"
          operator: "<"
  newer-or-equal-than-1_31:
    name: "Check if the version is newer than 1.31"
    needs: real-version-in-tag
    runs-on: ubicloud-standard-2
    outputs:
      check: ${{ steps.semver_compare.outputs.result }}
    steps:
      - name: Semver Compare
        id: semver_compare
        uses: fabriziocacicia/semver-compare-action@v0.2.0
        with:
          first: ${{ needs.real-version-in-tag.outputs.real_version }}
          second: "1.31.0"
          operator: ">="
  newer-or-equal-than-1_32:
    name: "Check if the version is newer than 1.32"
    needs: real-version-in-tag
    runs-on: ubicloud-standard-2
    outputs:
      check: ${{ steps.semver_compare.outputs.result }}
    steps:
      - name: Semver Compare
        id: semver_compare
        uses: fabriziocacicia/semver-compare-action@v0.2.0
        with:
          first: ${{ needs.real-version-in-tag.outputs.real_version }}
          second: "1.32.0"
          operator: ">="
  newer-or-equal-than-1_33:
    name: "Check if the version is newer than 1.33"
    needs: real-version-in-tag
    runs-on: ubicloud-standard-2
    outputs:
      check: ${{ steps.semver_compare.outputs.result }}
    steps:
      - name: Semver Compare
        id: semver_compare
        uses: fabriziocacicia/semver-compare-action@v0.2.0
        with:
          first: ${{ needs.real-version-in-tag.outputs.real_version }}
          second: "1.33.0"
          operator: ">="
  newer-or-equal-than-1_34:
    name: "Check if the version is newer than 1.34"
    needs: real-version-in-tag
    runs-on: ubicloud-standard-2
    outputs:
      check: ${{ steps.semver_compare.outputs.result }}
    steps:
      - name: Semver Compare
        id: semver_compare
        uses: fabriziocacicia/semver-compare-action@v0.2.0
        with:
          first: ${{ needs.real-version-in-tag.outputs.real_version }}
          second: "1.34.0"
          operator: ">="  
  
  tombstones-cleanup-while-crash:
    needs: [newer-or-equal-than-1_28]
    if: ${{ (needs.newer-or-equal-than-1_28.outputs.check == 'true') && (github.event.inputs.test_to_run == 'tombstones-cleanup-while-crash' || github.event.inputs.test_to_run == '' ) }}
    name: Check that tombstone cleanup works while crashes happen
    runs-on: ubicloud-standard-2
    timeout-minutes: 60
    env:
      PERSISTENCE_LSM_ACCESS_STRATEGY: ${{inputs.lsm_access_strategy}}
    steps:
      - uses: actions/checkout@v5
      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{secrets.DOCKER_USERNAME}}
          password: ${{secrets.DOCKER_PASSWORD}}
      - name: Collect Workflow Telemetry
        uses: catchpoint/workflow-telemetry-action@master
      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version: '1.22'
      - name: Run tombstones-cleanup-while-crash chaos tests
        run: |
          ./tombstones_cleanup_while_crash.sh

